<div class="container">
  <form [formGroup]="form">
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="search"
        aria-describedby="searchArea"
        placeholder="Search..."
      />
    </div>
  </form>
  <div
    class="main-panel"
    infinite-scroll
    [scrollWindow]="false"
    (scrolled)="onScrollDown($event)"
  >
    <ng-container *ngIf="launches && !isLoading">
      <div
        class="card mb-3"
        *ngFor="let launch of launches | filter: search.value; let i = index"
      >
        <div class="card-body">
          <div class="d-flex align-items-center">
            <h5 class="card-title">{{ launch?.mission_name }}</h5>
            <span
              class="card-status"
              [ngClass]="{
                upcoming: launch?.upcoming === false,
                success: launch?.upcoming === true
              }"
              >{{ launch?.upcoming ? "success" : "upcoming" }}</span
            >
          </div>
          <div class="d-flex align-items-center time-ago-and-link mb-3">
            <ng-container *ngIf="launch?.launch_date_utc">
              <span>{{ launch?.launch_date_utc | timeago }}</span>
            </ng-container>
            <ng-container *ngIf="launch?.links?.video_link"
              >`
              <span>|</span>
              <span>
                <ng-container *ngIf="launch.links?.video_link">
                  <a [href]="launch?.links?.video_link" target="_blank"
                    >Video</a
                  >
                </ng-container>
              </span>
            </ng-container>
          </div>
          <div *ngIf="launch?.isShow" class="d-flex mb-3">
            <img
              class="img-responsive"
              [src]="launch.links.mission_patch_small"
              *ngIf="launch.links.mission_patch_small; else noImageYet"
            />
            <ng-template #noImageYet> No image yet. </ng-template>

            <caption *ngIf="launch.details; else noDetailsYet" class="card-description">
              {{
                launch.details
              }}
            </caption>
            <ng-template #noDetailsYet> No details yet. </ng-template>
          </div>
          <button type="button" class="btn btn-primary" (click)="toggle(i)">
            {{ launch?.isShow ? "Hide" : "View" }}
          </button>
        </div>
      </div>
    </ng-container>
    <ng-template #loadingTemplate>
      <app-spinner></app-spinner>
    </ng-template>
    <div *ngIf="sum >= data.length" class="center"> End of Content </div>
  </div>
</div>
