.container {
  margin-top: 5%;
  padding: 2rem;
  .main-panel {
    height: 800px;
    overflow-y: scroll;
    font-size: 1.5rem;
    .card {
      .card-body {
        .card-title {
          margin-bottom: 0;
          margin-right: 0.5rem;
        }
        .card-status {
          font-size: 0.8rem;
          padding: 0.1rem;
          font-weight: 700;

          &.upcoming {
            background-color: rgb(109, 251, 251);
          }
          &.success {
            background-color: rgb(102, 216, 58);
          }
        }
        .time-ago-and-link {
          font-size: 0.8rem;
          span {
            margin-right: 0.4rem;
          }
        }
      }
    }
  }
}
